<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">
    <title> { % if page.title %} {{page.title}}{{% else %}}{{site.title}}{% endif %}
    </title>
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}>
    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include custom-foot.html %}
  </body>
</html>
